body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Centrer les menus sur mobile */
.container {
  max-width: 100%;
  padding: 0 1rem;
}

.house-container {
  position: relative;
  width: 100%; /* Image responsive */
  max-width: 600px; /* Limite la largeur maximale */
  margin: 0 auto;
}

.house-image {
  width: 100%;
  display: block;
}

.annotation {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 0.8rem;
  text-align: center;
  transform: translate(-50%, -50%);
  pointer-events: none; /* Éviter les interactions avec les annotations */
}

/* Position spécifique des annotations */
.charpente-toiture {
  top: 10%;
  left: 50%;
}

.facades-murs {
  top: 50%;
  left: 5%;
}

.murs-mitoyens {
  top: 50%;
  left: 45%;
}

.murs-porteurs {
  top: 50%;
  left: 80%;
}

.dalles-planchers {
  top: 87%;
  left: 30%;
}

.escaliers {
  top: 80%;
  left: 50%;
}


/* Responsive adjustments */
@media (max-width: 768px) {
  .annotation {
      font-size: 0.8rem;
      padding: 3px 8px;
  }
}


.d-flex > .dropdown-button {
  flex: 1;
}

@media (min-width: 768px) {
  .container {
      max-width: 80%;
  }

  .d-flex {
      gap: 1rem;
  }
}




